# Data Manipulation
numpy
pandas
scipy
openpyxl  # Excel file reading and writing
pyarrow  # Apache Arrow for handling large datasets
sympy  # Symbolic mathematics


# Machine Learning
statsmodels
scikit-learn
scikit-image
imbalanced-learn  # imblearn
joblib
lightgbm
xgboost
nltk  # Natural Language Toolkit (NLP tasks)
spacy  # NLP tasks (tokenization, POS tagging, etc.)
tensorflow
keras   # now included in tensorflow
torch  # plus other torch libraries

# Visualization
matplotlib
pillow  # Image processing
seaborn
plotly
bokeh
altair
missingno


# Geospatial Data
geopandas  # Spatial data handling
shapely  # Geospatial operations
folium  # For geospatial data visualization
cartopy  # Map projections and visualizations


# Jupyter
jupyter  # install this one or...
jupyterlab  # ...or this one , but not both
ipykernel  # will be installed automatically
ipywidgets  # Interactive widgets for Jupyter notebooks


# SQL & Databases
sqlalchemy  # SQL toolkit and Object-Relational Mapping
psycopg2  # PostgreSQL adapter
pymysql  # MySQL adapter


# Web Scraping & API
requests  # HTTP requests
urllib3  # HTTP library for Python
beautifulsoup4  # Web scraping
selenium
lxml  # XML and HTML parsing


# Other Utilities
tqdm  # Progress bars
python-dotenv  # For loading environment variables from .env files
pytest  # For testing Python code


# File I/O
h5py  # HDF5 file format for large datasets
pyyaml  # For reading/writing YAML files
jsonschema  # For JSON schema validation


# API
fastapi[all]
