# Core scientific libraries
cython
numpy
scipy
pandas
sympy


# File I/O
openpyxl # to load excel files in pandas
lxml     # XML and HTML parsing
pyyaml   # For reading/writing YAML files
h5py     # HDF5 file format for large datasets


# Visualization tools
matplotlib
pillow
seaborn
missingno
dash
plotly
bokeh
altair


# Various tools
python-dotenv
pytest
tqdm
python-dateutil


# Web Tools
requests
urllib3
beautifulsoup4
selenium


# Jupyter
jupyterlab  # or jupyter, but not both
ipywidgets  # Interactive widgets for Jupyter notebooks
spyder
wheel


# ML
statsmodels
scikit-learn
joblib
scikit-image
imbalanced-learn


# Further ML/DL Tools
lightgbm
xgboost
nltk
#spacy
#tensorflow[and-cuda]  # verify: python3 -c "import tensorflow as tf; print(tf.config.list_physical_devices('GPU'))"


# Database drivers
psycopg2            # psycopg2-binary
pyodbc              # ODBC driver
pymssql             # pymssql==2.2.7 #OR !conda install -y -c conda-forge pymssql
redshift-connector  # Amazon Redshift driver

# Cloud and auth libraries
boto3              # AWS SDK for Python
msal               # Microsoft Authentication Library

# ORM / Abstraction
SQLAlchemy         # SQL toolkit & ORM


# Potentially problematic
fastapi[all]
geopandas
asyncpg
